@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'monte-1';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  
}

@font-face {
  font-family: 'monte-2';
  src: url('/fonts/Montserrat-Light.ttf') format('truetype');
  
}

@font-face {
  font-family: 'monte-3';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  
}

@font-face {
  font-family: 'monte';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  
}

@font-face {
  font-family: 'monte-4';
  src: url('/fonts/Montserrat-Thin.ttf') format('truetype');
  
}